---
import Actu from "../Actu.astro";
import Volume from "../Volume.astro";

import { getDirectusClient } from "../../utils/get-directus-client";
import { readItems, readItem } from "@directus/sdk";
import { Debug } from "astro:components";

const directus = await getDirectusClient();

const volumes = await directus.request(
  readItems("Volumes", {
    fields: ["id", "slug", "title", "coordinators", "number", "published_at"],
    sort: ["-id"],
    filter: {
      site_id: {
        _eq: "2",
      },
    },
  }),
);

let latestVolume = volumes.shift();

latestVolume = await directus.request(
  readItem("Volumes", latestVolume.id, {
    fields: [
      "slug",
      "title",
      "subtitle",
      "number",
      "published_at",
      {
        sections: [
          "title",
          "position",
          {
            articles: [
              "title",
              "slug",
              { authors: ["author_id.fullname"] },
              "subtitle",
              { abstracts: ["language", "content_bis"] },
            ],
          },
        ],
      },
    ],
  }),
);
---
<div class=" pt-5">
<!-- Sommaire -->
<div class="lg:px-24 px-10">
  <div class="flex flex-row items-center">
    <h1 class="page_title">Sommaire du dernier numéro</h1>
    <hr class="line" />
  </div>
</div>

<div class="pt-2 lg:pt-4 lg:px-24 px-10">
  <div class=" py-5 pb-0 max-sm:pt-7 max-sm:pr-6">
    <div class="">
      <div class="">
        <Volume volume={latestVolume} />
      </div>
    </div>
  </div>
</div>
</div>
<div class="bg-secondary-light dark:bg-dark-light py-5">
<!-- Anciens  -->
<div class="mb-10 md:mb-16">
  <div class="lg:px-24 px-10">
    <div class="flex flex-row items-center">
      <h1 class="page_title dark:!text-accent-dark">Les anciens numéros</h1>
      <hr class="line" />
    </div>
  </div>

  <div class="flex flex-wrap mx-auto justify-start lg:px-20 px-6">
    {
      volumes.map((volume) => (
        <div class="w-full lg:w-1/3 sm:w-1/2 p-2">
          {" "}
          <Actu volume={volume} />{" "}
        </div>
      ))
    }
  </div>
</div>

</div>
