---
import Layout from "../layouts/Layout.astro";
import PageLayout from "../layouts/PageLayout.astro";
import AboutSection from "../components/sections/AboutSection.astro";
import NewsSection from "../components/sections/NewsSection.astro";
import SubmitSection from "../components/sections/SubmitSection.astro";
---

<Layout title="Juspoliticum">
  <!-- <PageLayout title="Jus Politicum" className="max-w-screen-2xl "> -->
    <div class="aboutsection">
      <AboutSection />
    </div>
    <div class="newssection">
      <NewsSection />
    </div>
    <div class="submitsection">
      <SubmitSection />
    </div>
  </PageLayout>
</Layout>

<style>
  main {
  }
  .aboutsection {
    @apply bg-background-light dark:bg-background-dark flex justify-center;
  }
  .newssection {
    @apply bg-background-light dark:bg-background-dark;
  }
  .submitsection {
    @apply bg-background-light dark:bg-background-dark;
  }

</style>
