---

---
<div class="aboutbox flex flex-col justify-end pb-10 mr-10 sm:mr-1">
  <div class="abouttext py-2 md:px-4 sm:px-3 pl-6">
    <h3 class="font-normal uppercase dark:!text-accent-dark">La Revue</h3>
    <p>
    <em>Jus Politicum</em> est une revue électronique spécialisée dans le droit
      politique, surtout le droit constitutionnel. Elle va au-delà des analyses
      juridiques traditionnelles, intégrant des perspectives historiques,
      philosophiques et pratiques. La revue, multilingue et soutenue par
      diverses institutions académiques, favorise le dialogue interdisciplinaire
      et interculturel. Elle publie des articles complets et des travaux en
      cours, tous évalués en double aveugle.
    </p>
    <div class="pt-5 ">
      <a  class="!text-secondary-light dark:!text-accent-dark" href="/about">En savoir plus [...]</a>
    </div>
  </div>
</div>
</div>

<style>
  .aboutbox h3 {
    @apply text-secondary dark:text-secondary-dark;
  }
  .abouttext {
    @apply bg-accent text-color-light dark:text-color dark:bg-accent-light font-light;
  }
  .abouttext a {
    @apply text-accent-light dark:text-accent;
  }
  .aboutbox {
    @apply bg-accent-light dark:bg-accent;
  }
</style>
