---
import Card from "./Card.astro";

const {  volume } = Astro.props;
---

<div >
  <Card
    href={`/volumes/${volume.slug}`}
    title={volume.title}
    number={volume.number}
    date={volume.published_at}
  />
</div>
