---
const { editors } = Astro.props;
---

<div class="text-color-light dark:text-color bg-accent dark:bg-accent-light w-44 sm:w-60 border-2 border-accent-light dark:border-accent-dark px-6 sm:px-8 py-2">
  <div class="accent1 mx-auto text-center">Editeurs en chef:</div>
  <ul class="pt-2">
    {editors.map((el, index) => <li> {el} </li>)}
  </ul>
</div>
