<div class="font_size_buttons">
  <input class="hidden" type="radio" name="font_button" id="small_font" />
  <label class="font_size_button small_font" for="small_font">A</label>
  <input class="hidden" type="radio" name="font_button" id="medium_font" />
  <label class="font_size_button medium_font" for="medium_font">A</label>
  <input class="hidden" type="radio" name="font_button" id="big_font" />
  <label class="font_size_button big_font" for="big_font">A</label>
</div>

<script>
  const small_font = document.getElementById("small_font");
  const medium_font = document.getElementById("medium_font");
  const big_font = document.getElementById("big_font");

  small_font.addEventListener("click", () => {
    document.querySelector(".article_content").style.fontSize = "1em";
  });
  medium_font.addEventListener("click", () => {
    document.querySelector(".article_content").style.fontSize = "1.25em";
  });
  big_font.addEventListener("click", () => {
    document.querySelector(".article_content").style.fontSize = "1.5em";
  });
</script>

<style is:global>
  .font_size_buttons {
    @apply flex items-center h-14  border-b mb-4;
  }
  .is-affixed .font_size_buttons {
    @apply lg:flex hidden ;
  }
  .small_font {
    font-size: 1rem;
  }
  .medium_font {
    font-size: 1.25rem;
  }
  .big_font {
    font-size: 1.5rem;
  }

  .font_size_button {
    @apply flex items-center justify-center w-8 h-8 mr-2 rounded-full border border-gray-300 cursor-pointer;
  }
</style>
