---
import GithubIcon from "./icons/Github.astro";

const currentYear = new Date().getFullYear();
---

<footer class="footer">
  <div class="flex my-4 flex-wrap justify-center items-center">
    <a href="/" class="logo" target="_blank" rel="noreferrer noopener">
      Accueil
    </a>
    <a href="/about" class="logo" target="_blank" rel="noreferrer noopener">
      Présentation de la revue
    </a>
    <a href="/auteurs" class="logo" target="_blank" rel="noreferrer noopener">
      Auteurs
    </a>
    <a href="/themes" class="logo" target="_blank" rel="noreferrer noopener">
      Thèmes
    </a>
    <a href="/actualites" class="logo" target="_blank" rel="noreferrer noopener">
      Actualités
    </a>
    <a href="/volumes" class="logo" target="_blank" rel="noreferrer noopener">
      Tous les numéros
    </a>
    <a href="/proposer-un-article" class="logo" target="_blank" rel="noreferrer noopener">
      Contact
    </a>
  </div>
  <div class="flex flex-row text-color-light items-center">
    © {new Date().getFullYear()} www.juspoliticum.com / Revue internationale de
    droit politique
  </div>

  <div class="flex flex-row text-color-light items-center mb-4">
    Made with 🩶 by RubidiumWeb ({currentYear}) <GithubIcon />
  </div>
</footer>

<style>
  .footer {
    @apply flex flex-col justify-around items-center bg-accent;
  }
  .footer a {
    @apply m-1 text-lg text-color-light;
    list-style: none;
  }
</style>
