---
import Collapse from "./Collapse.astro";
---

<!-- <details open id="toc"> --><!--   <summary --><!--     class="text-xl cursor-pointer font-semibold text-center text-accent-dark" --><!--   > --><!--     Sommaire de l'article --><!--   </summary> --><!-- <ul class=" table_of_content_list"></ul> --><!-- </details> -->
<div id="toc" class="">
  <Collapse summary="Sommaire de l'article">
    <ul class="table_of_content_list"></ul>
  </Collapse>
</div>

<script>
  // Ensure the DOM is fully loaded before executing
document.addEventListener("DOMContentLoaded", () => {
  const toc = document.querySelector(".table_of_content_list");
  const headings = document.querySelectorAll("h3, h4");

  if (headings.length === 0) {
    document.querySelector("#toc")?.setAttribute("style", "display: none;");
    return;
  }

  headings.forEach((heading: Element, index: number) => {
    const headingText = heading.textContent || `Section ${index}`;
    const headingLevel = heading.nodeName.slice(-1); // "H3" or "H4"
    const headingId = headingText.replace(/\s+/g, "-").toLowerCase();
    heading.setAttribute("id", headingId);

    const listItem = document.createElement("li");
    listItem.innerHTML = `<a class="heading_level_${headingLevel}" href="#${headingId}">${headingText}</a>`;
    toc?.appendChild(listItem);
  });

  // Adding event listener for smooth scroll
  if (toc) {
    toc.addEventListener("click", (event) => {
      const target = event.target as HTMLElement; 
      if (target && target.nodeName === "A") {
        event.preventDefault();

        const href = (target as HTMLAnchorElement).getAttribute("href");
        if (!href) return;

        const id = href.replace("#", "");
        const elementToScrollTo = document.getElementById(id);

        if (elementToScrollTo) {
          elementToScrollTo.scrollIntoView({ behavior: "smooth" });
        }
      }
    });
  }
});
</script>

<style is:global>
  #toc {
    @apply p-1 lg:p-2 my-3 mt-4 border-y border-color dark:border-color-light rounded-none;
  }
  #toc li {
    list-style-type: none;
  }
  #toc li a.heading_level_3 {
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
  }
  #toc li a.heading_level_4 {
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    padding-left: 5px;
  }
  .is-affixed #toc {
    @apply lg:block hidden lg:h-auto h-0;
  }
</style>
