---
const { className, volume } = Astro.props;
---

<div class="flex  items-center">
  <span class="num mr-2">{volume.number}</span>
  <div class="leading-none">
  <span class={`volume_title text-xl ${className}`}>
    <a href={`/volumes/${volume.slug}`} class="!font-semibold color-inherit"> {volume.title}</a>
  </span>

  <span class="date">
    ({
      new Date(volume.published_at).toLocaleString("fr-FR", {
        year: "numeric",
        month: "long",
      })
    })
  </span>
</div>
</div>
